<nav class="navbar navbar-expand-lg bg-warning fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="router1.php?action=Accueil">CHARLOT - GODEFROY </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">BANQUE</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=banqueReadAll">Liste des banques</a></li>
            <li><a class="dropdown-item" href="router1.php?action=banqueCompte">Comptes par banque</a></li>
            <li><a class="dropdown-item" href="router1.php?action=banqueCreate">Ajout d'une banque</a></li> 
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">CLIENTS</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=listeClients">Liste des clients</a></li>
            <li><a class="dropdown-item" href="router1.php?action=listeAdministrateurs">Liste des administrateurs</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">SE CONNECTER</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=connexion">Connexion</a></li>
            <li><a class="dropdown-item" href="router1.php?action=Inscription">S'inscrire</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 